    <!-- The first view loaded when the app starts, it displays all the task saved on the todo list-->

<div class="container" ng-controller="IndexController">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Is Done</th>
        </tr>
        <tbody data-ng-repeat="task in tasks">
            <tr>
                <td>{{task.ListId}}</td>
                <td>{{task.Name}}</td>
                <td>{{task.Description}}</td>
                <td><input type="checkbox" ng-model="task.IsDone" ng-change="onComplete(task)"></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-success" href="#!/updateTask" ng-click="edit(task.ListId, task.Name, task.Description, task.IsDone)">Edit</a>
                        <a class="btn btn-danger" href="#!/deleteTask" ng-click="delete(task.ListId, task.Name, task.Description, task.IsDone)">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-lg" href="#!/newTask">Add new task</a>
</div>
