<!-- provides the view to edit a task-->

<div class="container" ng-controller="UpdateController">

    <br />
    <br />

    <h5 class="display-1"> {{update}} </h5>
    <br />


    <form name="updateTaskForm" class="form-group">

        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input name="newName" class="form-control" type="text" ng-model="task.Name" ng-maxlength="50" required>
                <span ng-show="updateTaskForm.newName.$touched && updateTaskForm.newName.$invalid">Product's name is required and max length should be 50 chars</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Description</label>
            <div class="col-10">
                <input name="newDescription" class="form-control" type="text" ng-model="task.Description" ng-maxlength="100">
                <span ng-show="updateTaskForm.newDescription.$touched && updateTaskForm.newDescription.$invalid">Product's description max length should be 100 chars</span>
            </div>
        </div>


        <div class="form-group row">
            <a class="btn btn-primary btn-lg" href="#!/" ng-click='updateProduct()'>Save Data</a>
        </div>

    </form>

</div>